<!-- Main -->
<div
  class="flex flex-col flex-auto items-center justify-center h-full p-6 sm:p-10"
>
  <div
    class="mt-12 sm:mt-24 text-4xl md:text-7xl font-extrabold tracking-tight leading-tight md:leading-none text-center"
  >
    Ooops... 401!
  </div>
  <div
    class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary"
  >
    Not authorized to view the requested resource.
  </div>
  <a class="mt-12 font-medium underline text-primary-500" routerLink="/">
    Back to Dashboard
  </a>
</div>
