@use "@angular/material" as mat;
@include mat.core();

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 500),
      accent: mat.define-palette(mat.$amber-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

@include mat.all-component-themes($my-dark-theme);

.light-mode {
  @include mat.all-component-colors($my-light-theme);
}
