<app-spinner
  *ngIf="clientService.isSpinnerActive$ | async; else clientList"
></app-spinner>

<ng-template #clientList>
  <mat-card *ngIf="client" class="w-8/12 block mx-auto my-8">
    <mat-card-header class="ml-3">
      <mat-icon matSuffix mat-card-avatar class="mt-1 text-4xl"
        >person</mat-icon
      >
      <mat-card-title
        >{{ client.firstName }}
        {{ client.lastName }}
      </mat-card-title>
      <mat-card-subtitle>{{ client.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div matLine>
            Mobile Number:
            <button mat-button>{{ client.lastName }}</button>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div matLine>
            Gender:
            <button mat-button>{{ client.gender }}</button>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div matLine>
            Package:
            <button mat-button>{{ client.package }}</button>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div matLine>
            BMI:
            <button mat-button>{{ client.bmi }}</button>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div matLine>
            BMI Result:
            <button mat-button>{{ client.bmiResult }}</button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>
            Trainer Require:
            <button mat-button>{{ client.requireTrainer }}</button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>
            Goals:
            <button mat-button>
              <mat-chip-listbox>
                <ng-container *ngFor="let row of client.importantGoals">
                  <mat-chip-option selected>{{ row }}</mat-chip-option>
                </ng-container>
              </mat-chip-listbox>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
