.example-card {
  max-width: 800px;
  display: block;
  margin: 2rem auto;
}

.example-header-image {
  background-image: url("https://gravatar.com/avatar/44f685d2e31cd75d93d0a01f07bd9648?s=400&d=mp&r=x");
  background-size: cover;
}
