<div class="flex justify-between items-baseline m-5" *transloco="let t">
  <button routerLink="/client-register" mat-raised-button color="accent">
    <mat-icon matSuffix>arrow_back</mat-icon> {{ t("backToRegistration") }}
  </button>
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. John"
      #input
    />
  </mat-form-field>
</div>
<div class="mat-elevation-z8 m-5">
  <mat-table matSort [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >First Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.firstName }}</mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Last Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.lastName }}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
    </ng-container>

    <!-- Mobile Column -->
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Mobile</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.mobile }}</mat-cell>
    </ng-container>

    <!-- BMI Result Column -->
    <ng-container matColumnDef="bmiResult">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >BMI Result</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.bmiResult }}</mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Gender</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.gender }}</mat-cell>
    </ng-container>

    <!-- Package Column -->
    <ng-container matColumnDef="package">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Package</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.package }}</mat-cell>
    </ng-container>

    <!-- Enquiry Date Column -->
    <ng-container matColumnDef="enquiryDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Enquiry Date</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.enquiryDate }}</mat-cell>
    </ng-container>

    <!-- Action Column -->
    <div matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Actions</mat-header-cell
      >
      <mat-cell
        *matCellDef="let row"
        class="grid sm:grid-cols-1 lg:grid-cols-3 gap-0"
      >
        <button
          [routerLink]="['/client-details', row.id]"
          mat-icon-button
          color="primary"
        >
          <mat-icon matSuffix>remove_red_eye</mat-icon>
        </button>
        <button (click)="editClient(row.id)" mat-icon-button color="accent">
          <mat-icon matSuffix>edit</mat-icon>
        </button>
        <button (click)="deleteClient(row.id)" mat-icon-button color="warn">
          <mat-icon matSuffix>delete</mat-icon>
        </button>
      </mat-cell>
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of registered clients"
  >
  </mat-paginator>
</div>
