<button mat-icon-button [matMenuTriggerFor]="userActions">
  <mat-icon matSuffix>person</mat-icon>
</button>
<mat-menu xPosition="before" #userActions="matMenu">
  <ng-container
    *ngIf="authService.isLoggedIn$ | async as isLoggedIn; else authTmpl"
  >
    <button mat-menu-item>
      <mat-icon matSuffix>person</mat-icon>
      <p>{{ authService.userDisplayName }}</p>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon matSuffix>remove_red_eye</mat-icon>
      <span>Log out</span>
    </button>
  </ng-container>

  <ng-template #authTmpl>
    <button mat-menu-item [routerLink]="['/auth-login']">
      <mat-icon matSuffix>person</mat-icon>
      <span>Log in</span>
    </button>
    <button mat-menu-item [routerLink]="['/auth-register']">
      <mat-icon matSuffix>person</mat-icon>
      <span>Register</span>
    </button>
  </ng-template>
</mat-menu>
